<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Daniel Salinas y Jorge Cristóbal. 
</p>
<p>
</p>
<img  height="720" width="480" src="/images/salino.jpg" />
<img  height="720" width="480" src="/images/cristo.jpg" />
<p>
</p>
<a href="https://github.com/handdsm?tab=repositories"> Repositorio en el que se aloja la práctica</a>



